<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Application Flask{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <aside class="sidebar">
        <div>
            <a class="link" href="{{ url_for('home') }}">LOGO</a>
        </div>
        
        <div class="sidebar-actions">
            <button class="btn btnresearch"><p>Recherche</p></button>
            <a class="link" href="{{ url_for('home') }}"><p>Nouveau chat</p></a>
            <a class="link" href="{{ url_for('qcm') }}"><p>Nouveau Quiz</p></a>
            <a class="link" href="{{ url_for('challenge') }}"><p>Nouveau Challenge</p></a>
            <a class="link" href="{{ url_for('historique') }}"><p>Historique</p></a>
        </div>

        {% if current_user.is_authenticated %}
        <div class="sidebar-history">
            <details>
                <summary>Chat récent</summary>
                <ul class="section">
                    <li>
                        <button class="btn-small">
                            <p>Durée de la pin</p>
                        </button>                    
                    </li>
                </ul>
            </details>

            <details>
                <summary>Challenge récent</summary>
                <ul class="section">
                    <li>
                        <button class="btn-small">
                            <p>Durée de la pin</p>
                        </button>                    
                    </li>
                </ul>
            </details>

            <details>
                <summary>QCM réponses</summary>
                <ul class="section">
                    <li>
                        <button class="btn-small">
                            <p>Durée de la pin</p>
                        </button>                    
                    </li>
                </ul>
            </details>
        </div>
        {% else %}
        <div>
        </div>
        {% endif %}

        {% if current_user.is_authenticated %}
        <div>
            <div><p>A</p></div>
            <a href="{{ url_for('logout') }}">Deconnexion</a>
        </div>
        {% else %}
        <div>
            <div><p>A</p></div>
            <a href="{{ url_for('login') }}">Connexion</a>
        </div>
        {% endif %}
    </aside>
    <aside class="asideId" id="sidebarmobile">
        <div class="navigateur">
            <a class="link" href="{{ url_for('home') }}">LOGO</a>
            <button id="btneexit"><p>X</p></button>
        </div>
        <div class="sidebar-actions">
            <button class="btn btnresearch"><p>Recherche</p></button>
            <a class="link" href="{{ url_for('home') }}">Nouveau chat</a>
            <a class="link" href="{{ url_for('qcm') }}">Nouveau Quiz</a>
            <a class="link" href="{{ url_for('challenge') }}">Nouveau Challenge</a>
            <a class="link" href="{{ url_for('historique') }}">Historique</a>
        </div>

        {% if current_user.is_authenticated %}
        <div class="sidebar-history">
            <ul class="section">
                <p class="section-title">Chat récent</p>
                <li>
                    <button class="btn-small">
                        <p>Durée de la pin</p>
                    </button>                    
                </li>
            </ul>
            <ul class="section">
                <p class="section-title">Challenge récent</p>
                <li>
                    <button class="btn-small">
                        <p>Durée de la pin</p>
                    </button>                    
                </li>
            </ul>
            <ul class="section">
                <p class="section-title">Quiz récent</p>
                <li>
                    <button class="btn-small">
                        <p>Durée de la pin</p>
                    </button>                    
                </li>
            </ul>
        </div>
        {% else %}
        <div>
        </div>
        {% endif %}

        {% if current_user.is_authenticated %}
        <div>
            <div><p>A</p></div>
            <a href="{{ url_for('logout') }}">Deconnexion</a>
        </div>
        {% else %}
        <div>
            <div><p>A</p></div>
            <a href="{{ url_for('login') }}">Connexion</a>
        </div>
        {% endif %}
    </aside>
    
    <div>
        <header>
            <nav>
                <div class="depliant_aside">
                    <button class="btn btnaside"><p>|||</p></button>
                </div>
                <div>
                    <button>Partager</button>
                    <button>...</button>
                </div>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
            <div class="blockresearch" id="blockresearchid">
                <div>
                    <input type="text" placeholder="Comment puis je vous aider">
                    <button type="button" class="btnechap" id="btnechap"><p>echap</p></button>
                </div>
                <br>
                <div>
                    <a class="link" href="{{ url_for('home') }}">Nouveau chat</a>
                </div>
                <div>
                    <button type="button"><p>Durée de la piscine 42</p></button>
                    <button type="button"><p>Durée de la piscine 42</p></button>
                </div>
            </div>
        </main>
    </div>
</body>
</html>