aside {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; /* Animation de glissement fluide */
    z-index: 999; /* Reste au-dessus du contenu sur mobile */
}

.asideId{
    width: 300px;
    min-height: 100vh;
    background-color: #F5F5F5;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: none;
    position: absolute;
    left: 0%;
    top: 0%;
    transition: transform 0.3s ease; /* Animation de glissement fluide */
    z-index: 999; /* Reste au-dessus du contenu sur mobile */
}

@media screen and (max-width: 720px) {
    aside {
        display: none;
    }
}

aside > div:first-child {
    display: flex;
}

.sidebar-history {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.section-title {
    padding: 10px;
    font-weight:700;
}

aside > div:last-child {
    width: 300px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    gap: 10px;
    bottom: 0;
    left: 0;
    background-color: #F5F5F5;
}

aside > div:last-child > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: black;
    color: white;
}

 /*--- Le bouton dépliant menu Hamburguer --- */
.depliant_aside {
    display: none;
}

@media screen and (max-width:720px) {
    .depliant_aside {
        display: block;
    }
}

.blockresearch{
    width: 680px;
    height: 443px;
    background-color: #F5F5F5;
    box-shadow: 0px 4px 8px black;
    padding: 10px;
    padding-top: 20px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrage absolu dynamique parfait */
    z-index: 10;
}

.blockresearch input{
    width: 100%;
    font-size: 14px;
    border: none ;
    background-color: #F5F5F5;
    margin-left: 10px;
    outline: none;
}

.blockresearch > div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockresearch > div:first-child > button{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockresearch > div:last-child > button{
    width: 100%;
    height: 40px;
}