{% extends "layout/base.html" %}

{% block title %}Assistant IoT{% endblock %}

{% block content %}
<p class="subtitle">
    Posez vos questions, relevez des défis, testez vos connaissances : votre coach IoT est là
</p>
<div class="fonctionnalité">
    <a href="{{ url_for('qcm') }}">Création d'un quiz de 5 questions</a>
    <a href="{{ url_for('challenge') }}">Challenger vous selon les thèmes de l'IOT</a>
</div>
<form class="question_poser" action="/submit" method="POST">
    <textarea name="question" placeholder="Poser une question..."></textarea>
    <button type="submit">Envoyer</button>
</form>
{% endblock %}