{% extends "layout/base.html" %}

{% block title %}Quiz QCM IoT{% endblock %}

{% block content %}
<h1>Questionnaire IoT</h1>
<div class="questionnaire-container">
    <h2>Question {{ numero }} / 5</h2>
    <p class="question-text"><strong>{{ qcm.question }}</strong></p>
    <br>
    
    <form class="questionnaire" action="{{ url_for('qcm') }}" method="POST">
        {% for lettre, texte in qcm.choices.items() %}
        <div>
            <input type="radio" id="choice_{{ lettre }}" name="choice" value="{{ lettre }}" required>
            <label for="choice_{{ lettre }}"><strong>{{ lettre }})</strong> {{ texte }}</label>
        </div>
        <br>
        {% endfor %}
        
        <button type="submit">Valider la réponse</button>
    </form>
</div>
{% endblock %}