<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Questionnaire Développement Web</h1>
        <form class="questionnaire">
            <!-- Question 1 -->
            <form class="question_1" id="q1id">
                <p>1. Quel langage est utilisé pour structurer une page web ?</p>
                <br>
                <div>
                    <div>
                        <input type="radio" id="html" name="q1">
                        <label for="html">HTML</label>
                    </div>
                    <br>
                    <div>
                        <input type="radio" id="python" name="q1">
                        <label for="python">
                            <p>Python</p>
                        </label>                
                    </div>
                    <br>    
                    <div>
                        <input type="radio" id="java" name="q1">
                        <label for="java">Java</label>               
                    </div>
                    <br>                            
                </div>
            </form>
            <div class="question_2" id="q2id">
                <p>2. Quels langages connais-tu ?</p>
                <br>
                <div>
                    <input type="checkbox" id="html2">
                    <label for="html2">HTML</label><br>
            
                    <input type="checkbox" id="css">
                    <label for="css">CSS</label><br>
            
                    <input type="checkbox" id="js">
                    <label for="js">JavaScript</label><br><br>
                </div>
            </div>

            <div class="question_3" id="q3id">
                <p>3. Ton niveau en développement web :</p>
                <br>
                <select>
                    <option>Débutant</option>
                    <option>Intermédiaire</option>
                    <option>Avancé</option>
                </select>                
            </div>
            <br>
            <div class="question_4" id="q4id">
                <p>4. Pourquoi veux-tu apprendre le développement web ?</p>
                <textarea rows="5" cols="40"></textarea>
            </div>
            <br><br>

            <button type="submit">Envoyer</button>
        </form>
        <div class="blockresearch" id="blockresearchid">
            <div>
                <input type="text" placeholder="Comment puis je vous aider">                
                <button type="button" class="btnechap" id="btnechap">
                    <p>echap</p>
                </button>
            </div>
            <br>
            <div>
                <button type="button">
                    <p>Durée de la piscine 42</p>
                </button>
                <button type="button">
                    <p>Durée de la piscine 42</p>
                </button>
            </div>
        </div>

        <form class="questionnaire">
            <!-- Question 1 -->
            <form class="question_1" id="QCM1id">
                <p>1. Quel langage est utilisé pour structurer une page web ?</p>
                <br>
                <div>
                    <input type="radio" id="html" name="q1">
                    <label for="html">HTML</label>
                </div>
                <br>
                <div>
                    <input type="radio" id="python" name="q1">
                    <label for="python">
                        <p>Python</p>
                    </label>                
                </div>
                <br>    
                <div>
                    <input type="radio" id="java" name="q1">
                    <label for="java">Java</label>               
                </div>
                <br>
                
                <button id="Q2" type="submit">Envoyer</button>
            </form>

            <form class="question_2" id="QCM2id">
                <p>2. Quels langages connais-tu ?</p>
                <br>
                <div>
                    <input type="radio" id="html" name="q1">
                    <label for="html">HTML</label>
                </div>
                <br>
                <div>
                    <input type="radio" id="python" name="q1">
                    <label for="python">
                        <p>Python</p>
                    </label>                
                </div>
                <br>    
                <div>
                    <input type="radio" id="java" name="q1">
                    <label for="java">Javascript</label>               
                </div>
                <br>
                
                <button id="Q2" type="submit">Envoyer</button>
            </form>
            <!-- Question 2 -->
            
        <!-- 
            <p>2. Quels langages connais-tu ?</p>
    
            <input type="checkbox" id="html2">
            <label for="html2">HTML</label><br>
    
            <input type="checkbox" id="css">
            <label for="css">CSS</label><br>
    
            <input type="checkbox" id="js">
            <label for="js">JavaScript</label><br><br>

        -->
    
            <!-- Question 3 -->

            <!--
            <p>3. Ton niveau en développement web :</p>
    
            <select>
                <option>Débutant</option>
                <option>Intermédiaire</option>
                <option>Avancé</option>
            </select>
    
            <br><br>
    
            -->
            <!-- Question 4 -->
        <!--
            <p>4. Pourquoi veux-tu apprendre le développement web ?</p>
            <textarea rows="5" cols="40"></textarea>
            <br><br>-->
            <!-- Bouton -->
             <!--
        -->
            <button type="submit">Envoyer</button>
        </form>
    </main>   
</body>
</html>