{% extends "layout/base.html" %}

{% block title %}QCM{% endblock %}

{% block content %}
<h1>Questionnaire Développement Web</h1>
<form class="questionnaire">
    <!-- Question 1 -->
    <div>
        <p>1. Quel langage est utilisé pour structurer une page web ?</p>
        <br>
        <div>
            <input type="radio" id="html" name="q1">
            <label for="html">HTML</label>
        </div>
        <br>
        <div>
            <input type="radio" id="python" name="q1">
            <label for="python"><p>Python</p></label>
        </div>
        <br>
        <div>
            <input type="radio" id="java" name="q1">
            <label for="java">Java</label>
        </div>
        <br>
    </div>
    <button type="submit">Envoyer</button>
</form>
{% endblock %}