<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réponse</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="/static/js/script.js" defer></script>
</head>
<body>
    <main class="main_response">
        <div>
            <p>{{ question }}</p>
        </div> 
        <div>
            <p>Je suis en train de créer un questionnaire de 10 questions. Donne-moi de réponse en fonction de la note.</p>
        </div>
        <form class="question_poser" action="/submit" method="POST">
            <textarea name="question" placeholder="Poser une question..."></textarea>
            <button type="submit">Envoyer</button>
        </form>
    </main> 
</body>
</html>